.A4 {
  background-color: antiquewhite;
  width: 100%;
  padding-top: 141.4%; /* A4 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  
}
#personalData{
  font-family: 'Fresca', sans-serif;
  font-size: 2vw;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#personalData .header{
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: antiquewhite;
  text-align: center;
  font-size: 3vw;
}
#personalData .header p{
  margin-top: 5%;
}
#personalData .home_address{
  position: absolute;
  top: 10%;
  width: 100%;
  height: 10%;
  background-color: antiquewhite;
  text-align: center;
}
#personalData .home_address p{
  margin: 0%;
}
#personalData .row{
  top: 20%;
  height: 20%;
  margin-top: 28%;
  margin-left: 15%;
  margin-right: 15%;
}
/* Clearfix (clear floats) */
#personalData .row::after {
  content: "";
  clear: both;
  display: table;  
}
#personalData .data{
  padding: 5%;
}
#personalData .card{
  float: left;
  width: 25%;
  height: 100%;
  margin: 5%;
  background-color: antiquewhite;  
  margin-top: 5%;
  margin-bottom: 5%;
  outline: 0.5vw solid black;
  padding: 3%;
  padding-top: 1%;
  
}
#personalData .parent_card{
  margin: 5%;
  padding: 7.5%;
  padding-top: 2%;
}
#personalData .parent_card .data{
  
  margin-left: -25%;
  margin-right: -25%;
}
#personalData .child_card2{
  width: 22%;
  height: 80%;
  margin: 11%;
}
#personalData .child_card6{
  width: 20%;
  height: 80%;
  margin: 3.33%;
}
#personalData .child_card8{
  font-size: 1.5vw;
  width: 21%;
  height: 80%;
  padding: 1%;
  margin: 1%;
}
#personalData p{
  margin: 0%;
}
#personalData .avatar object, img{
  width:100%;
/*  margin:auto;*/
}
#personalData .footer{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 10%;
  background-color: antiquewhite;
  text-align: center;
}
#personalData .footer p{
  font-size: 1.5vw;
  margin-top: 12%;
  color: darkgrey;
}